@import "{{ site.theme }}";
header {
  display: none;
}

@font-face {
  font-family: 'PopJoyStd-B';
  src: url('../PopJoyStd-B.ttf') format('truetype');
}

@import "{{ site.theme }}";
body {
  font-family: 'PopJoyStd-B', sans-serif;
  color: #000000
}

@import "{{ site.theme }}";
section {
  background: #ffffff
}
