@charset "utf-8";

/* main styles */
html {
    color-scheme: light dark;
    background-color: light-dark(whitesmoke, black);
    /* no colors here are final yet!! */
}

main {
    padding: 10px;
    margin-top: 50px;
    background-color: #cc4a3e;
}

main a {
    text-decoration: underline;
    color: light-dark(rgb(32, 0, 211), rgb(139, 139, 255));
}

nav a {
    padding: 0px;
    text-decoration: none;
    background-color: light-dark(black, white);
    display: block;
    line-height: 2.8em;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    color: light-dark(cyan, rgb(0, 0, 180));
}

nav ul {
    list-style-type: none;
}

footer {
    background-color: light-dark(whitesmoke, black);
    color: light-dark(black, white);
    border-radius: 10px;
    border-color: gold;
    text-align: center;
}

/* Skip To Content styles*/
.skip-to-content {
    background: #012d53;
    color: #ff5d4f;
    left: 50%;
    position: absolute;
    transform: translateY(-100px);
}

.skip-to-content:focus {
    transform: translateY(0%);
    transition: transform 0.2s;
}


/* input focus styles */
input:focus,
select:focus,
textarea:focus {
    background-color: rgb(203, 203, 254);
}

input#zip:focus:valid,
input#phone:focus:valid,
input#email:focus:valid {
    background: rgb(209, 252, 209) url(media/valid.svg)
        /* image not here yet */
        no-repeat bottom right;
    background-size: contain;
}

input#zip:focus:invalid,
input#phone:focus:invalid,
input#email:focus:invalid {
    background: rgb(255, 199, 202) url(media/invalid.svg)
        /* image not here yet */
        no-repeat bottom right;
    background-size: contain;
}



/* table styles */
table#searchInput {
    width: 100%;
}

table#searchTable {
    width: 100%;
    text-align: center;
    border: 2px solid light-dark(black, white);
}



/* desktop-only styles */
@media only screen and (min-width: 769px) {

    nav li {
        display: block;
        width: 20%;
        float: left;
    }

    nav a:hover {
        text-decoration: underline;
        color: rgb(255, 49, 49);
        background-color: rgb(0, 151, 201);
        font-size: 1.2em;
        transition:
            background-color 0.2s ease-out,
            color 0.5s ease-out,
            font-size 0.5s ease;
    }

    nav a {
        transition:
            background-color 0.2s ease-out,
            color 0.5s ease-out,
            font-size 0.5s ease;
    }
}



/* mobile/tablet styles */
@media only screen and (max-width: 768px) {
    nav li {
        float: none;
        font-size: x-large;
        width: 100%;

    }

    nav a {
        border-bottom: solid black 1px;
    }
}
