@charset "utf-8";

/* main styles */
html {
    color-scheme: light dark;
    background-color: light-dark(whitesmoke, black);
    /* no colors are final yet!! */
}

main {
    padding: 10px;
    margin-top: 60px;
    background-color: #cc4a3e;
}

main a {
    text-decoration: underline;
    color: gold;
}

nav a {
    text-decoration: none;
    background-color: light-dark(black, white);
    display: block;
    line-height: 2.8em;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    color: light-dark(cyan, rgb(0, 0, 180));
}

nav ul {
    list-style-type: none;
}

footer {
    background-color: light-dark(whitesmoke, black);
    color: light-dark(black, white);
    border-radius: 10px;
    border-color: gold;
    border-style: solid;
    text-align: center;
}

/* Skip To Content styles*/
.skip-to-content {
    background: #012d53;
    color: #ff5d4f;
    left: 50%;
    position: absolute;
    transform: translateY(-100px);
}

.skip-to-content:focus {
    transform: translateY(0%);
    transition: transform 0.2s;
}


/* input styles */
input:focus#formInput,
select:focus#formInput,
textarea:focus#formInput {
    background-color: rgb(203, 203, 254);
}

input:focus:valid#formInput {
    background: rgb(209, 252, 209) url(media/valid.svg)
        no-repeat bottom right;
    background-size: contain;
}

input:focus:invalid#formInput {
    background: rgb(255, 199, 202) url(media/invalid.svg)  no-repeat bottom right;
    background-size: contain;
}

input#searchInput {
    margin-left: 50%;
}

input {
    background-color: light-dark(rgb(188, 188, 188), rgb(71, 71, 71));
}


/* table styles */
table#searchInput {
    width: 100%;
}

table#searchTable {
    width: 100%;
    text-align: center;
    border: 2px solid light-dark(black, white);
    background-color: light-dark(dodgerblue, darkblue);
}



/* desktop-only styles */
@media only screen and (min-width: 769px) {

    nav li {
        display: block;
        width: 33.3%;
        float: left;
    }

    nav a:hover {
        text-decoration: underline;
        color: rgb(255, 49, 49);
        background-color: rgb(0, 151, 201);
        font-size: 1.2em;
        transition:
            background-color 0.2s ease-out,
            color 0.5s ease-out,
            font-size 0.5s ease;
    }

    nav a {
        transition:
            background-color 0.2s ease-out,
            color 0.5s ease-out,
            font-size 0.5s ease;
    }
}

/* mobile/tablet styles */
@media only screen and (max-width: 768px) {
    nav li {
        float: none;
        font-size: x-large;
        width: 100%;

    }

    nav a {
        border-bottom: solid black 1px;
    }
}
